/* ********* */
/* @VARIABLES */
/* ********* */

// $social: (
//     facebook: #3a3ab8,
//     twitter: #24246f,
//     instagram: #b41111,
//     youtube: #d71111,
//     linkedin: #030342,
//   );

//   .facebook {
//   background-color: map-get($social, facebook);
// }
// .twitter {
//   background-color: map-get($social, twitter);
// }
// .instagram {
//   background-color: map-get($social, instagram);
// }
// .youtube {
//   background-color: map-get($social, youtube);
// }
// .linkedin {
//   background-color: map-get($social, linkedin);
// }

// @each $red,$color in $social {
//     .#{$red}{
//         background-color: $color;
//         color: lighten($color, 10%);
//     }
// }

$colores: (
  azul: #2c5271,
  azulClaro: #509a9d,
  verdeAzulado: #70c197,
  verdeClaro: #93df9a,
  verdeBlanco: #d5f2d3,
);

.azul {
  background-color: map-get($colores, azul);
}
.azulClaro {
  background-color: map-get($colores, azulClaro);
}
.verdeAzulado {
  background-color: map-get($colores, verdeAzulado);
}
.verdeClaro {
  background-color: map-get($colores, verdeClaro);
}
.verdeBlanco {
  background-color: map-get($colores, verdeBlanco);
}

// @each $red,$color in $social {
//     .#{$red}{
//         background-color: $color;
//         color: lighten($color, 10%);
//     }
// }

@each $pildora, $color in $colores {
  .#{$pildora} {
    background-color: $color;
    
  }
}
