.circulo{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(141.83deg, #305B74 17.89%, #468C93 82.04%);
}

.circulo2{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(142.4deg, #55A19F 17.84%, #6AB899 76.75%);
}
.circulo3{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(141.33deg, #90D29E 17.93%, #76C699 84.32%);
}
.circulo4{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(139.5deg, #86D299 18.1%, #5AA89B 83.64%);
}
.circulo5{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: linear-gradient(136.04deg, #C4EDD0 19.07%, #85C9A3 79.7%);
}