.forma {
  width: 150px;
  height: 350px;
  background-color: #2c5271;
  border-radius: 100px;
  margin-right: 30px;
}

.forma2 {
  width: 150px;
  height: 350px;
  background-color: #509a9d;
  border-radius: 100px;
  margin-right: 30px;
}
.forma3 {
  width: 150px;
  height: 350px;
  background-color: #70c197;
  border-radius: 100px;
  margin-right: 30px;
}
.forma4 {
  width: 150px;
  height: 350px;
  background-color: #93df9a;
  border-radius: 100px;
  margin-right: 30px;
}
.forma5 {
  width: 150px;
  height: 350px;
  background-color: #d5f2d3;
  border-radius: 100px;
  margin-right: 30px;
}


